# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore built output directory
/dist/

# Ignore editor configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db